<!-- 
    <!DOCTYPE html>

<html>
<head>

</head>
<body>
<header class="main-header">
    <nav class="main-nav nav">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="store.html">STORE</a></li>
            <li><a href="/html.html">ABOUT</a></li>
        </ul>
    </nav>
    <h1 class="band-name band-name-large">The Generics</h1>
</body>
</header>
</html